.App-logo {
  height: 30vmin;
  pointer-events: none;
  object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s alternate;
  }
}

.App-container {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: scale(0.42);
  }
  to {
    transform: scale(0.5);
  }
}
